:root {
  --primary-color: #337ab7;
  --secondary-color: #ffffe0;
  --text-color-main: #333;
  --text-color-subtle: #888;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1 {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 40px;
  border-bottom: 2px solid #c0c0c0;
}

.personal_info,
.goals_ideas {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c0c0c0;
}

.personal_info .about_me_img {
  width: 15%;
  border-right: 2px solid #c0c0c0;
  overflow: hidden;
  margin-right: 20px;
  padding: 20px 0;
}

.goals_ideas_img {
  width: 25%;
  border-left: 2px solid #c0c0c0;
  overflow: hidden;
  margin-left: 20px;
  padding: 20px 0 20px 30px;
}

.personal_info img,
.goals_ideas img {
  filter: grayscale(100%);
  border-radius: 10px;
}

.about_me_content,
.tech_goals {
  width: 85%;
  margin: 0 auto;
}

.about_me_content p {
  width: 85%;
  font-size: 35px;
  color: #c0c0c0;
}

.tech_goals p {
  width: 85%;
  font-size: 35px;
  color: #c0c0c0;
}

.project_ideas {
  padding: 25px 15px;
  width: 100%;
  border-bottom: 2px solid #c0c0c0;
}

.project_ideas p {
  font-size: 30px;
  color: #c0c0c0;
}

.date_time_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 2px solid #c0c0c0;
}

.date_time {
  font-size: 30px;
}

.links a {
  display: block;
  font-size: 20px;
}

footer {
  width: 85%;
  padding: 10px 20px;
  margin: 78px auto 0 auto;
  text-align: center;
  /* background: var(--primary-color); */
}

footer p {
  color: var(--text-color-subtle);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
